.form {
    display: grid;
    padding: 10px;
    margin-bottom: 10px;
    gap: 5px;
    grid-template-columns: 50px 350px 100px 100px 60px;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    background: #FFD670;
    border-radius: 5px;
}